@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/*TELA INICIAL DE LOGIN E CADASTRO*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box {
    text-align: center;
    width: 70%;
    padding: 25px 20px;
    border: var(--succesColor) 2px solid;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.box-login {
    margin-top: 30px;
    background: var(--blueGradient);
    color: white;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.box-register {
    border-radius: 0 0 10px 10px;
}

.box h1 {
    margin: 10px 0 30px;
}

input {
    border: none;
    outline: none;
    padding: 5px;
    width: 230px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}

.box-register input {
    border: 1.5px solid var(--blueColor);
}

input:focus {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: start;
}

label input {
    margin-top: 10px;
}

button {
    margin: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.box-register button {
    background: var(--blueGradient);
    transition: background 0.3s ease-in-out;
    color: white;
}

.box-register button:hover {
    background: linear-gradient(160deg, #007bb5 0%, #4fc3f7 100%);
}

.error-message {
    font-size: 13px;
    height: 20px;
    overflow: hidden;
    color: var(--errorColor);
    font-weight: bolder;
}

.sucesso {
    color: var(--blueColor);
}

a {
    text-decoration: none;
    color: var(--blueGradient);
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    margin-bottom: 0;
    bottom: 0;
}

a:hover {
    color: linear-gradient(160deg, #007bb5 0%, #4fc3f7 100%);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 25px 15px;
    width: 80%;
    margin: 20px auto;
}

.footer-link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.footer-link:hover {
    color: var(--blueColor);
}


/*RECUPERAR LOGIN*/
.box-atualizar {
    margin: 150px auto;
    background: var(--blueGradient);
    color: white;
    border-bottom: none;
    border-radius: 10px;
}

@media screen and (min-width: 850px) {

    .main {
        flex-direction: row;
    }

    .box {
        margin-top: 100px;
        min-height: 400px;
        max-height: 400px;
        text-align: center;
        width: 400px;
        padding: 25px 20px;
        border: var(--blueColor) 2px solid;
    }



    .box-login {
        border-radius: 10px 0 0 10px;
        border-right: none;
    }

    .box-register {
        border-radius: 0 10px 10px 0;
    }


    
}