<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/tela-de-login.css">
    <link rel="stylesheet" href="../styles/var.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Handjet:wght@500&family=Orbitron&display=swap" rel="stylesheet">
    <title>Tela Inicial</title>
</head>

    <div class="box-atualizar box">
        <h1>EM DESENVOLVIMENTO</h1>
        <form>
            <label for="email">Nome:
                <input type="text" id="nome-update" name="nome" required placeholder="Insira seu nome">
            </label>
            <label for="email">E-mail:
                <input type="text" id="email-update" name="email" required placeholder="Insira seu e-mail">
            </label>
            <label for="senha">Nova senha:
                <input type="password" id="novaSenha-update" name="senha" required placeholder="Insira sua senha">
            </label>

            <span class="error-message" id="error-message-update"></span>
            <button type="submit" id="update-js">Atualizar senha</button>
        </form>
    </div>
    <script src="../script_update.js"></script>
</body>

</html>
